__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Models
models/*.pkl
models/*.joblib

# Data (keep folder structure but not the CSVs)
data/raw/*.csv

# Environments
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db
